// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.murecho-googlefont {
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    background-colour: #D8D9DA;
    background-color: #000000;
    color: #DFF5FF;
}
h3{
    display: inline;
}
hr{
    width: 6%;
    margin: auto;
    border: 3px solid #76ABAE;
    opacity: 1;
    margin-bottom: 1rem;
}
.lawrence h1, h3{
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.cover-image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.4;
}
.container-image{
    position: relative;
    text-align: center;
    color: white;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.sections{
    text-align: center;
    padding-top: 1rem;
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}
.contact{
    color: #000000;
    text-align: center;
    padding-top: 1rem;
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}
.card-bg{
    background-color: #D8D9DA;
    color: #61677A;
}
.about-image {
    width: 20%;
    display: inline;
}
.about-image img{
    width: 40%;
    height: 7rem;
    object-fit: cover;
    display: inline;
    float: left;
    margin-right: 1rem;
    margin-top: 0.5rem;
}
.about-segments{
    border-style: solid;
    border-width: 1px;
    padding: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}
.about-segments-edu{
    border-style: solid;
    border-width: 1px;
    padding: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.about-segments-con{
    border-style: solid;
    border-width: 1px;
    padding: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.card-margin{
    margin-bottom: 2rem;
}
.card-margin:hover{
    opacity: 70%;
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(10%);
  }
}
.p_folio_image_holder{
    margin: auto;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    height: 15rem;
    #overflow: hidden;
}
.p_folio_image_holder img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.p_folio_details{
    margin: auto;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    padding: 1rem;
}
.p_folio_text{
    color: #000000;
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}
.p_folio_body{
    background-color: #76ABAE;
}
.p_folio_h2{
    color: #000000;
    text-align: center;
    margin-top: 1rem;
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}
.p_folio_hr{
    border-color: #000000;
}
.p_folio_title{
    color: #000000;
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.p_folio_button{
    background-color: #000000;
    color: #FFFFFF;
    padding: 0.5rem;
    text-decoration: None;
}
.form-style{
    margin-bottom: 1rem;
}
.card-contact{
margin-bottom: 2rem;
width: 21rem;
}

.footer{
background-color: black;
height: 4rem;
color: white;
margin-top: 2rem;
}
.footer-text{
    padding: 0.7rem;
}
.footer-text p{
    font-size: 1.1rem;
}
.about-area{
    background-color: #76ABAE;
    color: #000000;
}
.about-area hr{
    border: 3px solid #000000;
}
.portfolio-area{
    color: #76ABAE;
}
.portfolio-area-card{
    background-color: #76ABAE;
}
.proficiency-area{
    background-color: #EEEEEE;
    color: #000000;
}
.proficiency-area hr{
    border: 3px solid #000000;
}
.proficiency-area-card{
    background-color: #76ABAE;
    margin-bottom: 1rem;
    border = None;
}
.proficiency-slide{
    position: relative;
}
.proficiency-slide.active{
    animation-duration: 1s;
    animation-name: profiSlide;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
@keyframes profiSlide {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(5%);
  }
}
.proficiency-card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}
.proficiency-card-header{
    padding:var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
}
.proficiency-card{
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: #EEEEEE;
    background-clip: border-box;
    border-radius: var(--bs-card-border-radius);
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}
.portfolio-title{
    font-weight: bold;
}
.contact-area{
    background-color: #76ABAE;
    color: #000000;
}
.contact-area hr{
    border: 3px solid #000000;
}
.image-brand{
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left {
  position: absolute;
  top: 80%;
  left: 10%;
  font-size: 0.7rem;
}